/* Put your CSS here */
html, body {
    height: 100%;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

.container {
    display: flex;
    min-height: 100vh;
}

.left-rail {
  flex: 2;
}

.right-rail {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.message-pane {
    flex: auto;
}

.message-input {
    height: 2em;
}

.peer-row {
    display: flex;
}

.peer {
    flex: 1
}

.peer-label {
    width: 90%;
    display: block;
    margin: auto;
}

.peer-video {
    width: 90%;
    display: block;
    margin: auto;
}

.user-video {
    width: 80%;
    display: block;
    margin: auto;
}